<div class="sub-nav">
  <div class="title">
    <h2>Workouts</h2>
  </div>
</div>
<div class="workouts page-content">
  <table class="alternate">
    <thead>
      <th>name</th>
      <th>last completed</th>
      <th>duration</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let workout of workouts">
        <td>{{workout.name}}</td>
        <td>{{workout.lastCompleted | date:'short'}}</td>
        <td>{{workout.duration}} <span class="time-unit">mins</span></td>
        <td><a [routerLink]="['/workout', workout.id]"><img class="arrow-go" src="/assets/arrow-right.png" /></a></td>
      </tr>
    </tbody>
  </table>
</div>

